<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicação Devops</title>
    <!--Chamando o CSS-->
    <link rel="stylesheet" href="./style.css" type="text/css">
</head>
<body>
    <header>
        <nav>
            <h1>Hello World</h1>
            <a href="#Integrantes">Integrantes</a>
        </nav>
    </header>
    <main>
        <article>
            <h1>Aplicação DevOps</h1>
            <p>Este projeto tem como principal objetivo validar os conhecimento adquiridos em sala botando em prática versionamento de códigos 
                com a utilização de comandos git utilizando um repositório no git hub. </p>
        </article>
        <section>
            <div class="tarefas-gabe">
                <h4>Tarefas feitas por Gabriel:</h4>
                <ul>
                    <li>→ Criação do repositório;</li>
                    <li>→ Criação de uma aplicação nodejs;</li>
                    <li>→ Instalação do Express.js;</li>
                    <li>→ Criação da pasta src;</li>
                    <li>→ Criação do endpoint app.get('/integrantes');</li>
                    <li>→ Criação e edição do README descrevendo a aplicação e como usar ela;</li>
                    <li>→ Responsável pelos merges;</li>
                </ul>
            </div>
            <div class="tarefas-maju">
                <h4>Tarefas feitas por Maju:</h4>
                <ul>
                    <li>→ Criação uma pasta chamada "views" dentro da pasta src;</li>
                    <li>→ Criação uma página HTML ;</li>
                    <li>→ Criação de um endpoint app.get('/') que retorne a pagina index.html</li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <ul id="Integrantes">
            <li><a href="#">Gabriel Ratão</a></li>
            <li><a href="#">Mara Júlia Ávila</a></li>
        </ul>
    </footer>
    
</body>
</html>